/* BOX */
#box_login{
    width: 400px;
    height: 400px;
    /*background-color: white;*/
    padding: 20px;

}
#box_login_titulo{
    margin-top: 22px;
    text-align: center;
    font-size: 26px;
    color: white;
}






/* inputs e botoes */
.pass_secur{
    -webkit-text-security: disc;
    -webkit-text-fill-color: white;
}
.input_color{
    -webkit-text-fill-color: #d7c9c9;
}
#butao_entrar{
    color: white;
}
.error_notificacao{
    padding-bottom: 10px;
}
#box_login_recuperar_senha{
    display: block;
    width: auto;
    text-align: center;
    color: white;
}
#text_assinatura{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
}






/* ESTILOS GERAIS */
#separador{
    margin-top: 30px;
    margin-bottom: 30px;
    height:0;
    border:1px solid white;
    opacity: 80%;
}
.centro{
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
}
.conteudo{
    margin: auto;
}

/* Define os stilos nas tags principais */
html, body{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffcc;
    background-image: url("../img/bg5.png");
    background-size: cover;
}

























/* Telefones em paisagem e abaixo */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}






/* ALTERA O FUNDO DO AUTO PREENCHIMENTO */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
